In [1]:
import os, math, subprocess
import datetime as dt

#data wrangling
import numpy as np
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt

#excel library
import xlrd

In [2]:
#Loading data
df_transactions = pd.read_excel('KPMG_cleandata.xlsx', sheet_name= 'Transactions')
df_transactions = df_transactions.astype({"online_order":'bool'})
df_customerdemo = pd.read_excel('KPMG_cleandata.xlsx', sheet_name= 'CustomerDemographic')
df_customeraddress = pd.read_excel('KPMG_cleandata.xlsx', sheet_name= 'CustomerAddress')
df_new = pd.read_excel('KPMG_cleandata.xlsx', sheet_name= 'NewCustomerList')
df_transactions.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10

In [3]:
#check customer id in each sheets:
df_customerdemo['customer_id'].drop_duplicates().count()

3998

In [4]:
df_customeraddress['customer_id'].drop_duplicates().count()

3999

In [5]:
df_transactions['customer_id'].drop_duplicates().count()
#There are 3494 customers only buy once

3494

In [6]:
#show duplication in customer_id of transaction sheet
df_transactions[df_transactions.duplicated(subset = 'customer_id', keep = 'last')]
#There are 16506 royal customers

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02
1,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03
2,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
3,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16
4,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10
5,6,25,2339,2017-03-08,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,2006-11-10
6,7,22,1542,2017-04-21,True,Approved,WeareA2B,Standard,medium,medium,60.34,45.26,1993-07-15
7,8,15,2459,2017-07-15,False,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,2009-04-12
8,9,67,1305,2017-08-10,False,Approved,Solex,Standard,medium,large,1071.23,380.74,1991-08-05
9,10,12,3262,2017-08-30,True,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,2004-08-17
10,11,5,1986,2017-01-17,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,2011-08-29
11,12,61,2783,2017-01-05,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,2015-06-17
12,13,35,1243,2017-02-26,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,1994-07-12
13,14,16,2717,2017-09-10,False,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,1994-09-09
14,15,12,247,2017-06-11,False,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2004-07-25
15,16,3,2961,2017-10-10,False,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2003-09-09
16,17,79,2426,2017-04-03,False,Approved,Norco Bicycles,Standard,medium,medium,1555.58,818.01,2004-08-07
17,18,33,1842,2017-06-02,False,Approved,Giant Bicycles,Standard,medium,small,1311.44,1167.18,1992-10-11
18,19,54,2268,2017-04-06,True,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,2009-04-12
19,20,25,3002,2017-01-28,True,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,2002-03-22
20,21,27,1582,2017-10-09,False,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,1999-06-23
21,22,37,595,2017-06-29,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20
22,23,37,2001,2017-04-08,True,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,2015-05-21
23,24,82,515,2017-10-18,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,829.65,2016-02-04
24,25,89,2822,2017-06-11,False,Approved,WeareA2B,Touring,medium,large,1362.99,57.74,1993-04-20
25,26,64,2596,2017-01-10,False,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,2015-05-21
26,27,64,2666,2017-04-11,True,Approved,Trek Bicycles,Standard,medium,large,1469.44,596.55,2012-05-18
27,28,19,76,2017-12-23,False,Approved,Trek Bicycles,Mountain,low,medium,574.64,459.71,2016-07-09
28,29,72,3368,2017-10-13,True,Approved,Norco Bicycles,Standard,medium,medium,360.40,270.30,2016-12-06
29,30,91,1173,2017-03-15,False,Approved,WeareA2B,Standard,low,medium,642.31,513.85,2014-10-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19552,19553,0,2891,2017-02-28,True,Approved,OHM Cycles,Standard,medium,medium,183.86,137.90,1993-07-20
19556,19557,63,1686,2017-02-05,True,Approved,Solex,Standard,medium,medium,1483.20,99.59,2010-11-05
19557,19558,55,1381,2017-08-17,True,Approved,Trek Bicycles,Road,medium,large,1894.19,598.76,1993-07-20
19569,19570,11,217,2017-05-12,False,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,2010-05-05
19571,19572,11,2595,2017-08-21,True,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,1996-11-09
19574,19575,35,1766,2017-04-06,True,Approved,Trek Bicycles,Standard,low,medium,1057.51,154.40,1994-07-12
19576,19577,70,3026,2017-08-14,True,Approved,Trek Bicycles,Standard,high,medium,495.72,297.43,2000-05-22
19587,19588,7,1511,2017-08-18,True,Approved,Trek Bicycles,Road,low,medium,980.37,234.43,2004-09-28
19599,19600,19,1137,2017-07-09,False,Approved,OHM Cycles,Road,high,large,12.01,7.21,2009-03-08
19612,19613,27,2988,2017-05-31,True,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,1991-08-05
19621,19622,16,650,2017-07-01,True,Approved,Norco Bicycles,Standard,high,small,1661.92,1479.11,1992-10-11
19639,19640,69,370,2017-03-13,True,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,2006-05-22
19646,19647,47,2273,2017-07-11,True,Approved,Trek Bicycles,Road,low,small,1720.70,1531.42,1997-02-09
19651,19652,21,2951,2017-09-30,True,Approved,WeareA2B,Touring,medium,medium,1466.68,363.25,2014-03-03
19656,19657,10,1936,2017-10-14,False,Approved,WeareA2B,Touring,medium,medium,1466.68,363.25,2014-03-03
19671,19672,49,650,2017-09-10,True,Approved,Trek Bicycles,Road,medium,medium,533.51,400.13,1997-10-04
19677,19678,6,1210,2017-07-01,True,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,2003-02-07
19690,19691,13,970,2017-08-16,False,Approved,Solex,Standard,medium,medium,1577.53,826.51,2006-02-02
19695,19696,61,1065,2017-08-13,True,Approved,OHM Cycles,Standard,low,medium,71.16,56.93,2015-06-17
19716,19717,1,2918,2017-06-05,True,Approved,Giant Bicycles,Standard,medium,medium,1403.50,954.82,2012-12-02
19740,19741,69,2774,2017-02-01,False,Approved,Giant Bicycles,Road,medium,medium,792.90,594.68,1992-10-02
19756,19757,15,924,2017-01-04,True,Approved,Norco Bicycles,Standard,low,medium,958.74,748.90,2005-12-07
19797,19798,24,2345,2017-09-08,False,Approved,Solex,Road,medium,large,1777.80,820.78,1991-11-10
19799,19800,56,2764,2017-02-27,True,Approved,OHM Cycles,Standard,medium,medium,183.86,137.90,1993-07-20
19823,19824,71,2528,2017-10-22,True,Approved,Solex,Standard,high,large,1842.92,1105.75,1995-10-24
19837,19838,39,425,2017-04-25,True,Approved,Giant Bicycles,Standard,medium,large,1812.75,582.48,2007-12-11
19842,19843,27,816,2017-11-07,False,Approved,Trek Bicycles,Standard,medium,medium,499.53,388.72,1999-06-23
19845,19846,71,2806,2017-09-07,False,Approved,Solex,Standard,high,large,1842.92,1105.75,2004-07-25
19924,19925,56,1563,2017-01-06,True,Approved,OHM Cycles,Standard,medium,medium,183.86,137.90,1997-10-04
19931,19932,51,1030,2017-11-21,True,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,2012-04-10

In [7]:
#leftjoin 3 sheets:
df_leftjoin1 = pd.merge (df_transactions, df_customerdemo, how= 'left', on = 'customer_id')
df_leftjoin1 = pd.merge (df_leftjoin1, df_customeraddress, how= 'left', on = 'customer_id')
df_leftjoin1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20000 entries, 0 to 19999
Data columns (total 29 columns):
transaction_id                         20000 non-null int64
product_id                             20000 non-null int64
customer_id                            20000 non-null int64
transaction_date                       20000 non-null datetime64[ns]
online_order                           20000 non-null bool
order_status                           20000 non-null object
brand                                  19803 non-null object
product_line                           19803 non-null object
product_class                          19803 non-null object
product_size                           19803 non-null object
list_price                             20000 non-null float64
standard_cost                          19803 non-null float64
product_first_sold_date                19803 non-null datetime64[ns]
first_name                             19989 non-null object
last_name                              19347 non-null object
gender                                 19989 non-null object
past_3_years_bike_related_purchases    19989 non-null float64
DOB                                    19543 non-null datetime64[ns]
job_title                              17595 non-null object
job_industry_category                  16760 non-null object
wealth_segment                         19989 non-null object
deceased_indicator                     19989 non-null object
owns_car                               19989 non-null object
tenure                                 19543 non-null float64
address                                19968 non-null object
postcode                               19968 non-null float64
state                                  19968 non-null object
country                                19968 non-null object
property_valuation                     19968 non-null float64
dtypes: bool(1), datetime64[ns](3), float64(6), int64(3), object(16)
memory usage: 4.4+ MB

In [8]:
#top10 royal customer in transactions sheet
test = df_leftjoin1.groupby(['customer_id','first_name','last_name','address','postcode','state'])['transaction_id'].agg(['count'])
test = test.reset_index()
test.sort_values(by='count',ascending=0).head(10)

,customer_id,first_name,last_name,address,postcode,state,count
1029,1068,Frazer,Searston,4297 Emmet Lane,2170.0,NSW,14
2109,2183,Jillie,Fyndon,8142 Tomscot Drive,4132.0,QLD,14
2394,2476,Hal,Braddon,567 Scott Park,4118.0,QLD,14
2464,2548,Kristien,Robberts,12 Fairfield Parkway,3029.0,VIC,13
361,377,Levy,Bonavia,259 Barnett Crossing,2265.0,NSW,13
3210,3326,Wes,Crotch,18118 Maple Wood Crossing,2763.0,NSW,13
1256,1302,Ericka,Eggers,9 Sugar Junction,4053.0,QLD,13
2665,2755,Karen,La Wille,2241 Pearson Plaza,4503.0,QLD,13
1099,1140,Deana,Rathbourne,8587 Graceland Way,2206.0,NSW,13
2948,3048,Kenon,Messruther,80302 Stang Parkway,3677.0,VIC,13

In [18]:
#Top 10 targeting demographic job, employment
job = df_leftjoin1.groupby(['job_industry_category'])['transaction_id'].agg(['count'])
job = job.reset_index()
job.sort_values(by='count',ascending=0).head(10)

  job_industry_category  count
5         Manufacturing   4014
2    Financial Services   3886
3                Health   3091
7                Retail   1758
6              Property   1297
4                    IT   1084
1         Entertainment    698
0           Argiculture    578
8    Telecommunications    354

In [19]:
#top10 product preferences in transactions sheet
test1 = df_transactions.groupby(['brand','product_line','product_class'])['transaction_id'].agg(['count'])
test1 = test1.reset_index()
test1.sort_values(by='count',ascending=0).head(10)

             brand product_line product_class  count
20           Solex     Standard        medium   2532
30        WeareA2B     Standard        medium   2346
3   Giant Bicycles     Standard        medium   1769
27   Trek Bicycles     Standard        medium   1254
15      OHM Cycles     Standard        medium   1079
10  Norco Bicycles     Standard        medium    980
2   Giant Bicycles     Standard          high    785
7   Norco Bicycles         Road        medium    732
24   Trek Bicycles         Road        medium    625
31        WeareA2B      Touring        medium    618

In [64]:
df_leftjoin1.tenure.value_counts().idxmax()

7.0

In [66]:
df_leftjoin1.tenure.value_counts().max()

1190

In [70]:
#top10 tenure by sales
test11 = df_leftjoin1.groupby(['tenure'])['transaction_id'].agg(['count'])
test11 = test11.reset_index()
test11.sort_values(by='count',ascending=0).head(10)

    tenure  count
6      7.0   1190
4      5.0   1096
10    11.0   1096
15    16.0   1067
11    12.0   1060
7      8.0   1032
13    14.0   1019
8      9.0    995
9     10.0    985
16    17.0    985

In [76]:
#Target NCL tenure = 7
df_new[df_new.tenure == 7]

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
26,Dyane,Burwell,Female,19,1952-06-27,Engineer II,Retail,Mass Customer,N,Yes,7,51 Hooker Court,2640,NSW,Australia,2,15,1468750
32,Sybilla,MacCart,Female,88,1987-01-15,Paralegal,Financial Services,Mass Customer,N,Yes,7,74 Welch Pass,2620,NSW,Australia,7,17,1453125
64,Cristen,Maroney,Female,22,1999-11-21,Accountant IV,IT,High Net Worth,N,Yes,7,27 Karstens Crossing,4214,QLD,Australia,7,29,1362500
110,Franciska,Stigell,Female,95,1968-11-15,Food Chemist,Health,Mass Customer,N,Yes,7,6 Anderson Junction,3802,VIC,Australia,7,42,1281250
119,Viki,Coutts,Female,2,1952-12-14,Automation Specialist II,Property,Mass Customer,N,Yes,7,6 Golf View Alley,2287,NSW,Australia,4,44,1262500
157,Roseanne,Caruth,Female,16,1957-05-25,Programmer Analyst III,Health,Mass Customer,N,No,7,33652 Lyons Alley,2763,NSW,Australia,9,57,1187500
175,Tanya,Kiefer,Female,54,1992-07-05,Speech Pathologist,Telecommunications,High Net Worth,N,No,7,4 Warner Park,2146,NSW,Australia,9,61,1168750
191,Franklin,Wohler,Male,55,1938-10-16,Clinical Specialist,Health,Mass Customer,N,Yes,7,6966 Delladonna Street,2250,NSW,Australia,8,66,1150000
193,Ermentrude,Heindle,Female,47,1969-08-02,GIS Technical Architect,Argiculture,Mass Customer,N,No,7,307 Knutson Center,2226,NSW,Australia,10,66,1150000
196,Mandie,Jeffryes,Female,60,1981-02-16,Business Systems Development Analyst,NaN,High Net Worth,N,No,7,96515 Di Loreto Pass,4109,QLD,Australia,9,67,1147500
203,Rosemonde,Cartwight,Female,44,1952-10-20,Analyst Programmer,Retail,Mass Customer,N,Yes,7,518 Paget Hill,4605,QLD,Australia,1,69,1140625
221,Kort,Disley,Male,66,1979-02-05,Technical Writer,Health,Mass Customer,N,Yes,7,76 Donald Trail,2160,NSW,Australia,9,74,1125000
228,Maribeth,Stivani,Female,46,1954-11-13,Associate Professor,Financial Services,Mass Customer,N,No,7,945 Bobwhite Court,2430,NSW,Australia,8,76,1112500
263,Zondra,Ringham,Female,36,1948-01-13,Cost Accountant,Financial Services,Mass Customer,N,Yes,7,416 Lighthouse Bay Lane,4510,QLD,Australia,5,88,1062500
267,Antonietta,Egle,Female,82,1973-09-25,Actuary,Financial Services,Mass Customer,N,No,7,590 Hagan Parkway,3805,VIC,Australia,7,88,1062500
275,Dahlia,Shovlar,Female,90,1966-03-07,Environmental Specialist,NaN,Affluent Customer,N,Yes,7,655 Glendale Trail,3976,VIC,Australia,3,90,1051875
301,Daisy,Pollen,Female,97,1993-08-09,Cost Accountant,Financial Services,Mass Customer,N,No,7,61825 Debs Terrace,3167,VIC,Australia,9,100,1030000
312,Seamus,Cains,Male,61,1989-12-15,Teacher,Manufacturing,High Net Worth,N,No,7,4882 Dakota Center,2305,NSW,Australia,8,103,1020000
313,Guss,Karim,Male,95,1968-11-24,Senior Sales Associate,Manufacturing,Mass Customer,N,No,7,4 Warner Circle,2227,NSW,Australia,11,103,1020000
320,Paxon,Roomes,Male,78,1976-11-06,Information Systems Manager,NaN,High Net Worth,N,Yes,7,3 Express Lane,3021,VIC,Australia,7,104,1015625
325,Deirdre,Burgoine,Female,14,1955-01-08,Programmer III,Health,High Net Worth,N,No,7,Stoughton Park,3000,VIC,Australia,1,107,1009374
332,Nil,Shirer,Male,64,1997-09-27,Librarian,Entertainment,Mass Customer,N,Yes,7,4793 Mcbride Pass,3013,VIC,Australia,8,108,1000000
335,Haskell,Moxted,Male,81,1943-08-27,Civil Engineer,Manufacturing,Mass Customer,N,No,7,2941 Talisman Alley,2145,NSW,Australia,9,109,998749
339,Kylynn,Drowsfield,Female,80,1975-03-28,Editor,NaN,High Net Worth,N,Yes,7,5 Trailsway Avenue,3059,VIC,Australia,9,110,996093
345,Lucilia,Minshall,Female,71,1952-04-15,NaN,IT,Mass Customer,N,Yes,7,237 Mallard Place,2750,NSW,Australia,8,112,988125
346,Cissiee,Pollington,Female,43,1941-07-21,Associate Professor,Property,Mass Customer,N,Yes,7,69710 Northfield Center,2256,NSW,Australia,9,112,988125
417,Freddi,Litherborough,Female,46,1989-01-14,Product Engineer,Financial Services,Mass Customer,N,No,7,7873 Meadow Vale Plaza,2460,NSW,Australia,3,134,918000
434,Gregg,Aimeric,U,52,NaT,Internal Auditor,IT,Mass Customer,N,No,7,72423 Surrey Street,3753,VIC,Australia,5,140,906250
437,Rodolph,Denniss,Male,28,1974-08-07,Geologist III,Property,Affluent Customer,N,Yes,7,91281 Transport Center,3356,VIC,Australia,2,141,903125
438,Craggie,Dering,Male,47,1952-10-05,Actuary,Financial Services,Mass Customer,N,No,7,11 Paget Road,2125,NSW,Australia,10,141,903125
472,Sigismund,Sedger,Male,9,1999-11-29,Accountant II,Manufacturing,Affluent Customer,N,No,7,8069 Sunbrook Way,2155,NSW,Australia,10,150,884000
539,Claude,Bowstead,Female,37,1997-11-29,Accounting Assistant III,Manufacturing,Mass Customer,N,No,7,5263 Stone Corner Crossing,2217,NSW,Australia,12,171,825000
576,Bobby,Summersby,Male,90,1943-10-27,Sales Associate,Financial Services,Affluent Customer,N,No,7,1478 Oak Valley Park,3350,VIC,Australia,2,183,796875
592,Jamal,Dudgeon,Male,83,1965-02-09,Mechanical Systems Engineer,Financial Services,Mass Customer,N,No,7,2712 Namekagon Crossing,3029,VIC,Australia,5,188,782000
611,Agna,Cowpe,Female,88,1969-03-05,NaN,Property,Mass Customer,N,Yes,7,2 Main Lane,4114,QLD,Australia,3,197,757031
619,Delcina,Hursey,Female,22,1968-12-26,NaN,Financial Services,Mass Customer,N,Yes,7,804 Washington Point,4132,QLD,Australia,4,200,750000
626,Marissa,O'Scandall,Female,17,1973-07-13,NaN,NaN,Affluent Customer,N,Yes,7,45000 Randy Court,3199,VIC,Australia,7,202,743750
679,Averil,Ackery,Male,93,1970-09-09,Sales Representative,Retail,Mass Customer,N,Yes,7,344 Darwin Junction,2093,NSW,Australia,12,222,701250
684,Andrew,Froment,Male,58,1977-07-19,Office Assistant IV,Retail,High Net Worth,N,No,7,78 Bluestem Road,3860,VIC,Australia,2,224,700000
689,Willard,Booton,Male,69,1938-09-02,NaN,Health,High Net Worth,N,Yes,7,5 Ronald Regan Alley,2121,NSW,Australia,9,225,697000
697,Thaddus,Joder,Male,31,1957-12-10,NaN,Manufacturing,Mass Customer,N,No,7,27185 Fisk Drive,2290,NSW,Australia,8,227,690000
699,Jillane,Simion,Female,8,1974-07-03,VP Marketing,Manufacturing,High Net Worth,N,No,7,7 Caliangt Street,4209,QLD,Australia,3,228,687500
700,Lynnell,Shoesmith,Female,44,1981-01-29,Occupational Therapist,Health,High Net Worth,N,Yes,7,5331 Ilene Parkway,2560,NSW,Australia,8,228,687500
719,Inglebert,Butland,Male,71,1966-01-30,Actuary,Financial Services,Mass Customer,N,Yes,7,51837 Canary Center,2114,NSW,Australia,9,231,675000
746,Agnola,Batterson,Female,86,1980-01-03,Physical Therapy Assistant,Financial Services,Mass Customer,N,No,7,216 Bultman Park,4305,QLD,Australia,3,240,654500
761,Petr,Westman,Male,5,1987-11-02,Nurse Practicioner,Property,Mass Customer,N,No,7,98454 Dapin Park,4556,QLD,Australia,7,246,637500
787,Verne,Loalday,Male,1,1982-03-20,Marketing Assistant,IT,High Net Worth,N,No,7,598 Memorial Place,2082,NSW,Australia,10,254,612500
791,Carl,Troyes,Male,4,1973-03-12,Associate Professor,Property,Mass Customer,N,No,7,1217 Melody Alley,3109,VIC,Australia,10,255,612000
824,Becky,Lassen,Female,11,1973-05-11,Sales Associate,Financial Services,Mass Customer,N,Yes,7,41153 Pond Park,2251,NSW,Australia,8,265,584375
836,Andy,Deeming,Male,79,1979-01-09,Payment Adjustment Coordinator,Manufacturing,Affluent Customer,N,Yes,7,63386 Talisman Hill,4556,QLD,Australia,8,268,575000
838,Briano,Janowski,Male,66,1994-07-17,Analyst Programmer,NaN,Mass Customer,N,No,7,3259 Eagan Parkway,2066,NSW,Australia,8,269,573750
844,Maris,Leete,Female,21,1973-04-14,Engineer IV,Retail,Mass Customer,N,No,7,6 Main Alley,4300,QLD,Australia,4,273,563125
863,Kissie,Line,Female,2,2000-05-20,Environmental Tech,Manufacturing,Affluent Customer,N,Yes,7,629 Grasskamp Junction,2200,NSW,Australia,9,278,552500
871,Lotty,Loach,Female,76,1961-08-23,Nurse,Health,High Net Worth,N,Yes,7,78451 South Street,2380,NSW,Australia,3,281,541875
880,Jeno,Strafford,Male,67,1941-07-21,Tax Accountant,Financial Services,High Net Worth,N,No,7,891 Sachtjen Hill,4170,QLD,Australia,9,283,537500
896,Heall,Andrioli,Male,46,1941-06-17,Environmental Tech,IT,Affluent Customer,N,Yes,7,370 Eastwood Road,4133,QLD,Australia,5,288,520000
941,Angele,Cadore,Female,5,1954-09-06,Chief Design Engineer,NaN,Mass Customer,N,Yes,7,85894 Amoth Court,4125,QLD,Australia,7,302,467500
958,Afton,Andrassy,Female,78,1998-10-14,Web Designer II,Retail,Mass Customer,N,No,7,220 Cody Alley,3075,VIC,Australia,8,308,446250
962,Don,Spratling,Male,82,1969-01-05,Associate Professor,Property,Affluent Customer,N,Yes,7,78 Erie Point,2760,NSW,Australia,10,310,440000
986,Consalve,Ballay,Male,41,1959-09-18,Web Developer I,IT,Mass Customer,N,Yes,7,72 Village Terrace,2250,NSW,Australia,8,318,400000

In [11]:
#LÃ½ thuyáº¿t JOIN: https://techtalk.vn/loat-series-ve-sql-moi-thu-ban-can-biet-ve-sql-joins.html
#Transactions sheet has 20000 Customer ID, customerdemographic and customeraddress have 4000 Customer ID 
df_rightjoin = pd.merge (df_customerdemo, df_customeraddress, how= 'right', on = 'customer_id')
df_rightjoin.head(3)
#There are only 3774 rows, there are huge missing data => inner join isnt appropriate

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,3549,Jodee,Macewan,Female,0.0,1966-02-24,Sales Representative,Retail,Mass Customer,N,No,7.0,360 Green Ridge Junction,2508,NSW,Australia,9
1,3646,Allene,Pauly,Female,0.0,1981-10-22,Social Worker,Health,Mass Customer,N,No,4.0,2809 Anderson Lane,3350,VIC,Australia,3
2,3843,Mahmoud,Ligerton,Male,0.0,1989-06-06,Senior Financial Analyst,Financial Services,Mass Customer,N,Yes,16.0,9570 Sundown Trail,4073,QLD,Australia,8

In [12]:
df_leftjoin = pd.merge (df_transactions, df_customeraddress, how= 'left', on = 'customer_id')
df_leftjoin.head()

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date,address,postcode,state,country,property_valuation
0,1,2,2950,2017-02-25,False,Approved,Solex,Standard,medium,medium,71.49,53.62,2012-12-02,984 Hoepker Court,3064.0,VIC,Australia,6.0
1,2,3,3120,2017-05-21,True,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,2014-03-03,4 Shopko Circle,2196.0,NSW,Australia,5.0
2,3,37,402,2017-10-16,False,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,1999-07-20,586 Miller Parkway,2835.0,NSW,Australia,1.0
3,4,88,3135,2017-08-31,False,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,1998-12-16,1617 Harper Parkway,2096.0,NSW,Australia,10.0
4,5,78,787,2017-10-01,True,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,2015-08-10,601 Stephen Place,2292.0,NSW,Australia,7.0

In [13]:
#find out top current customer location
test2 = df_leftjoin.groupby(['state'])['transaction_id'].agg(['count'])
test2 = test2.reset_index()
test2.sort_values(by='count',ascending=0)

  state  count
0   NSW  10685
2   VIC   5021
1   QLD   4262

In [14]:
#top 10 target new customers
df_new.sort_values(by='Rank', ascending=1).head(10)

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation,Rank,Value
0,Chickie,Brister,Male,86,1957-07-12,General Manager,Manufacturing,Mass Customer,N,Yes,14,45 Shopko Center,4500,QLD,Australia,6,1,1718750
1,Morly,Genery,Male,69,1970-03-22,Structural Engineer,Property,Mass Customer,N,No,16,14 Mccormick Park,2113,NSW,Australia,11,1,1718750
2,Ardelis,Forrester,Female,10,1974-08-28,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,10,5 Colorado Crossing,3505,VIC,Australia,5,1,1718750
3,Lucine,Stutt,Female,64,1979-01-28,Account Representative III,Manufacturing,Affluent Customer,N,Yes,5,207 Annamark Plaza,4814,QLD,Australia,1,2,1703125
4,Melinda,Hadlee,Female,34,1965-09-21,Financial Analyst,Financial Services,Affluent Customer,N,No,19,115 Montana Place,2093,NSW,Australia,9,2,1703125
5,Druci,Brandli,Female,39,1951-04-29,Assistant Media Planner,Entertainment,High Net Worth,N,Yes,22,89105 Pearson Terrace,4075,QLD,Australia,7,3,1671875
6,Rutledge,Hallt,Male,23,1976-10-06,Compensation Analyst,Financial Services,Mass Customer,N,No,8,7 Nevada Crossing,2620,NSW,Australia,7,3,1671875
7,Nancie,Vian,Female,74,1972-12-27,Human Resources Assistant II,Retail,Mass Customer,N,Yes,10,85 Carioca Point,4814,QLD,Australia,5,4,1656250
8,Duff,Karlowicz,Male,50,1972-04-28,Speech Pathologist,Manufacturing,Mass Customer,N,Yes,5,717 West Drive,2200,NSW,Australia,10,4,1656250
9,Barthel,Docket,Male,72,1985-08-02,Accounting Assistant IV,IT,Mass Customer,N,Yes,17,80 Scofield Junction,4151,QLD,Australia,5,5,1640625

In [15]:
#find out top new target customer location
test5 = df_new.groupby(['state'])['first_name'].agg(['count'])
test5 = test5.reset_index()
test5.sort_values(by='count',ascending=0)

  state  count
0   NSW    506
2   VIC    266
1   QLD    228

In [16]:
df_rightjoin = pd.merge (df_customerdemo, df_customeraddress, how= 'right', on = 'customer_id')
df_rightjoin.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
0,3549,Jodee,Macewan,Female,0.0,1966-02-24,Sales Representative,Retail,Mass Customer,N,No,7.0,360 Green Ridge Junction,2508,NSW,Australia,9
1,3646,Allene,Pauly,Female,0.0,1981-10-22,Social Worker,Health,Mass Customer,N,No,4.0,2809 Anderson Lane,3350,VIC,Australia,3
2,3843,Mahmoud,Ligerton,Male,0.0,1989-06-06,Senior Financial Analyst,Financial Services,Mass Customer,N,Yes,16.0,9570 Sundown Trail,4073,QLD,Australia,8
3,3976,Gretel,Chrystal,Female,0.0,1957-11-20,Internal Auditor,NaN,Affluent Customer,N,Yes,13.0,7 Morning Court,3805,VIC,Australia,7
4,2920,Casar,Ritchley,U,1.0,NaT,Business Systems Development Analyst,IT,Mass Customer,N,Yes,NaN,7066 Sunbrook Terrace,2299,NSW,Australia,8

In [17]:
#customers from the same address
CA_dup = df_rightjoin[df_rightjoin.duplicated(['address'],keep=False)]
CA_dup

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,address,postcode,state,country,property_valuation
576,2320,Kaylyn,Throssell,Female,14.0,1965-12-21,Senior Developer,Manufacturing,Affluent Customer,N,No,16.0,64 Macpherson Junction,2208,NSW,Australia,11
2049,3540,Ali,Naris,Male,49.0,1954-08-27,NaN,NaN,Mass Customer,N,Yes,7.0,64 Macpherson Junction,4061,QLD,Australia,8
2771,2475,Cammi,Ambrogioni,Female,68.0,1977-05-02,Quality Control Specialist,NaN,Mass Customer,N,No,20.0,3 Talisman Place,4017,QLD,Australia,5
2821,2985,Kerby,Nesfield,Male,69.0,1986-10-14,Sales Representative,Retail,Affluent Customer,N,Yes,14.0,3 Mariners Cove Terrace,2216,NSW,Australia,10
3050,737,Sisely,Oppy,Female,75.0,1983-07-11,Systems Administrator III,NaN,Mass Customer,N,No,16.0,3 Talisman Place,4811,QLD,Australia,2
3347,2333,Ives,Adolfson,Male,82.0,1966-04-19,Structural Analysis Engineer,Financial Services,Mass Customer,N,Yes,10.0,3 Mariners Cove Terrace,3108,VIC,Australia,10