In [30]:
import os, math, subprocess
import datetime as dt

#data wrangling
import numpy as np
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt

#excel library
import xlrd

In [31]:
#Loading data
df_anz = pd.read_excel('ANZ synthesised transaction dataset.xlsx', sheet_name= 'DSynth_Output_100c_3m_v3')
df_anz = df_anz.astype({"card_present_flag":'bool'})
df_anz.head(1)

,status,card_present_flag,bpay_biller_code,account,currency,long_lat,txn_description,merchant_id,merchant_code,first_name,...,age,merchant_suburb,merchant_state,extraction,amount,transaction_id,country,customer_id,merchant_long_lat,movement
0,authorized,True,NaN,ACC-1598451071,AUD,153.41 -27.95,POS,81c48296-73be-44a7-befa-d053f48ce7cd,NaN,Diana,...,26,Ashmore,QLD,2018-08-01T01:01:15.000+0000,16.25,a623070bfead4541a6b0fff8a09e706c,Australia,CUS-2487424745,153.38 -27.99,debit

In [32]:
#Create 100 customets with their pay/salary table:
salary = df_anz[df_anz['txn_description'] == 'PAY/SALARY'].groupby(['customer_id','first_name','txn_description'])['amount'].agg(['count','sum']).sort_values(by='sum',ascending=0)
salary = salary.reset_index()
salary
#100 customer_id = 100 accounts = 100 first_name = 100 long_lat transactions in last 3 months

       customer_id  first_name txn_description  count       sum
0   CUS-1816693151         Tim      PAY/SALARY      4  35343.92
1   CUS-3142625864       Ricky      PAY/SALARY     13  33644.13
2   CUS-2738291516     Kenneth      PAY/SALARY     13  33081.88
3   CUS-2155701614       Linda      PAY/SALARY     13  31762.12
4    CUS-261674136     Kenneth      PAY/SALARY      7  30837.10
5   CUS-2031327464     Michael      PAY/SALARY     13  29644.68
6    CUS-527400765     Natasha      PAY/SALARY      7  29512.28
7   CUS-3336454548     Charles      PAY/SALARY      7  28925.61
8    CUS-883482547    Michelle      PAY/SALARY      7  27842.22
9   CUS-1462656821      Isaiah      PAY/SALARY      7  27327.65
10  CUS-1196156254     Jessica      PAY/SALARY      7  27326.11
11   CUS-134833760       Billy      PAY/SALARY      7  26500.46
12  CUS-2376382098   Christine      PAY/SALARY      5  25517.55
13  CUS-2505971401     Abigail      PAY/SALARY     13  25305.41
14  CUS-1117979751       Lucas      PAY/SALARY      7  25050.55
15  CUS-4142663097      Sandra      PAY/SALARY      7  24623.27
16  CUS-3249305314        Ryan      PAY/SALARY     13  24452.35
17  CUS-2663907001       Craig      PAY/SALARY      6  24328.62
18  CUS-1617121891      Daniel      PAY/SALARY      7  23301.39
19  CUS-2500783281     Marissa      PAY/SALARY     14  22770.72
20  CUS-2819545904       Brian      PAY/SALARY      7  22618.82
21  CUS-1147642491       Robin      PAY/SALARY     13  22248.07
22  CUS-3174332735       Cindy      PAY/SALARY      6  22061.64
23  CUS-1478398256   Alexander      PAY/SALARY      6  21897.06
24  CUS-1790886359     Matthew      PAY/SALARY      7  21497.98
25    CUS-55310383     Melissa      PAY/SALARY     13  21277.36
26  CUS-2059096722     Michael      PAY/SALARY     13  20282.60
27  CUS-3026014945       Tonya      PAY/SALARY      7  19881.05
28   CUS-164374203       Susan      PAY/SALARY     14  19536.86
29  CUS-3462882033     Michael      PAY/SALARY      6  19170.06
..             ...         ...             ...    ...       ...
70  CUS-2110742437      Darren      PAY/SALARY      4  12107.80
71    CUS-51506836     Richard      PAY/SALARY      2  12048.98
72  CUS-2695611575      Joseph      PAY/SALARY     13  11926.85
73   CUS-586638664   Mackenzie      PAY/SALARY      6  11713.74
74  CUS-1614226872      Rhonda      PAY/SALARY     13  11597.17
75  CUS-3431016847      Donald      PAY/SALARY      6  11573.82
76  CUS-1140341822      Dustin      PAY/SALARY      6  11499.06
77  CUS-2650223890       Maria      PAY/SALARY     13  11218.35
78   CUS-423725039       Linda      PAY/SALARY      3  11137.68
79   CUS-331942311   Catherine      PAY/SALARY      6  11058.84
80  CUS-2630892467       Karen      PAY/SALARY     12  11048.52
81  CUS-3201519139     Richard      PAY/SALARY     12  11001.00
82   CUS-860700529     Jeffrey      PAY/SALARY      6  10851.72
83  CUS-3395687666       David      PAY/SALARY      6  10546.86
84  CUS-3904958894     Gregory      PAY/SALARY      6  10089.48
85  CUS-2977593493   Elizabeth      PAY/SALARY      7  10058.86
86  CUS-1842679196       Debra      PAY/SALARY     13   9897.29
87  CUS-1433879684     Jeffrey      PAY/SALARY      7   9856.56
88  CUS-2484453271     Timothy      PAY/SALARY      6   9844.98
89   CUS-497688347  Jacqueline      PAY/SALARY      2   9821.80
90  CUS-2599279756         Amy      PAY/SALARY      6   9782.16
91  CUS-1739931018    Kimberly      PAY/SALARY      2   9727.24
92  CUS-1646183815      Andrew      PAY/SALARY     12   9389.04
93  CUS-2206365095       Renee      PAY/SALARY      6   9246.72
94  CUS-3702001629        Lori      PAY/SALARY      6   9226.08
95    CUS-72755508    Kimberly      PAY/SALARY     12   8703.84
96  CUS-3255104878       Emily      PAY/SALARY     13   8637.59
97   CUS-880898248      Robert      PAY/SALARY      6   8603.88
98  CUS-1654129794        Mary      PAY/SALARY     13   7488.00
99  CUS-1233833708     Michael      PAY/SALARY     12   7155.96

[100 rows x 5 columns]

In [33]:
#Define payment type for each customer:
salary['payment_type'] = 'Quarterly'
salary['payment_type'] [salary['count'] == 3 ] = 'Monthly'
salary['payment_type'] [salary['count'] == 6 ] = 'Fortnightly'
salary['payment_type'] [salary['count'] == 7 ] = 'Fortnightly'
salary['payment_type'] [salary['count'] == 13 ] = 'Weekly'
salary['payment_type'] [salary['count'] == 14 ] = 'Weekly'
salary

C:\Users\My Computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\My Computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\My Computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\My Computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\My Computer\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

       customer_id  first_name txn_description  count       sum payment_type
0   CUS-1816693151         Tim      PAY/SALARY      4  35343.92    Quarterly
1   CUS-3142625864       Ricky      PAY/SALARY     13  33644.13       Weekly
2   CUS-2738291516     Kenneth      PAY/SALARY     13  33081.88       Weekly
3   CUS-2155701614       Linda      PAY/SALARY     13  31762.12       Weekly
4    CUS-261674136     Kenneth      PAY/SALARY      7  30837.10  Fortnightly
5   CUS-2031327464     Michael      PAY/SALARY     13  29644.68       Weekly
6    CUS-527400765     Natasha      PAY/SALARY      7  29512.28  Fortnightly
7   CUS-3336454548     Charles      PAY/SALARY      7  28925.61  Fortnightly
8    CUS-883482547    Michelle      PAY/SALARY      7  27842.22  Fortnightly
9   CUS-1462656821      Isaiah      PAY/SALARY      7  27327.65  Fortnightly
10  CUS-1196156254     Jessica      PAY/SALARY      7  27326.11  Fortnightly
11   CUS-134833760       Billy      PAY/SALARY      7  26500.46  Fortnightly
12  CUS-2376382098   Christine      PAY/SALARY      5  25517.55    Quarterly
13  CUS-2505971401     Abigail      PAY/SALARY     13  25305.41       Weekly
14  CUS-1117979751       Lucas      PAY/SALARY      7  25050.55  Fortnightly
15  CUS-4142663097      Sandra      PAY/SALARY      7  24623.27  Fortnightly
16  CUS-3249305314        Ryan      PAY/SALARY     13  24452.35       Weekly
17  CUS-2663907001       Craig      PAY/SALARY      6  24328.62  Fortnightly
18  CUS-1617121891      Daniel      PAY/SALARY      7  23301.39  Fortnightly
19  CUS-2500783281     Marissa      PAY/SALARY     14  22770.72       Weekly
20  CUS-2819545904       Brian      PAY/SALARY      7  22618.82  Fortnightly
21  CUS-1147642491       Robin      PAY/SALARY     13  22248.07       Weekly
22  CUS-3174332735       Cindy      PAY/SALARY      6  22061.64  Fortnightly
23  CUS-1478398256   Alexander      PAY/SALARY      6  21897.06  Fortnightly
24  CUS-1790886359     Matthew      PAY/SALARY      7  21497.98  Fortnightly
25    CUS-55310383     Melissa      PAY/SALARY     13  21277.36       Weekly
26  CUS-2059096722     Michael      PAY/SALARY     13  20282.60       Weekly
27  CUS-3026014945       Tonya      PAY/SALARY      7  19881.05  Fortnightly
28   CUS-164374203       Susan      PAY/SALARY     14  19536.86       Weekly
29  CUS-3462882033     Michael      PAY/SALARY      6  19170.06  Fortnightly
..             ...         ...             ...    ...       ...          ...
70  CUS-2110742437      Darren      PAY/SALARY      4  12107.80    Quarterly
71    CUS-51506836     Richard      PAY/SALARY      2  12048.98    Quarterly
72  CUS-2695611575      Joseph      PAY/SALARY     13  11926.85       Weekly
73   CUS-586638664   Mackenzie      PAY/SALARY      6  11713.74  Fortnightly
74  CUS-1614226872      Rhonda      PAY/SALARY     13  11597.17       Weekly
75  CUS-3431016847      Donald      PAY/SALARY      6  11573.82  Fortnightly
76  CUS-1140341822      Dustin      PAY/SALARY      6  11499.06  Fortnightly
77  CUS-2650223890       Maria      PAY/SALARY     13  11218.35       Weekly
78   CUS-423725039       Linda      PAY/SALARY      3  11137.68      Monthly
79   CUS-331942311   Catherine      PAY/SALARY      6  11058.84  Fortnightly
80  CUS-2630892467       Karen      PAY/SALARY     12  11048.52    Quarterly
81  CUS-3201519139     Richard      PAY/SALARY     12  11001.00    Quarterly
82   CUS-860700529     Jeffrey      PAY/SALARY      6  10851.72  Fortnightly
83  CUS-3395687666       David      PAY/SALARY      6  10546.86  Fortnightly
84  CUS-3904958894     Gregory      PAY/SALARY      6  10089.48  Fortnightly
85  CUS-2977593493   Elizabeth      PAY/SALARY      7  10058.86  Fortnightly
86  CUS-1842679196       Debra      PAY/SALARY     13   9897.29       Weekly
87  CUS-1433879684     Jeffrey      PAY/SALARY      7   9856.56  Fortnightly
88  CUS-2484453271     Timothy      PAY/SALARY      6   9844.98  Fortnightly
89   CUS-497688347  Jacqueline      PAY/SALARY      2   9821.80    Quarterly
90  CUS-2599279756         Amy      PAY/SALARY      6   9782.16  Fortnightly
91  CUS-1739931018    Kimberly      PAY/SALARY      2   9727.24    Quarterly
92  CUS-1646183815      Andrew      PAY/SALARY     12   9389.04    Quarterly
93  CUS-2206365095       Renee      PAY/SALARY      6   9246.72  Fortnightly
94  CUS-3702001629        Lori      PAY/SALARY      6   9226.08  Fortnightly
95    CUS-72755508    Kimberly      PAY/SALARY     12   8703.84    Quarterly
96  CUS-3255104878       Emily      PAY/SALARY     13   8637.59       Weekly
97   CUS-880898248      Robert      PAY/SALARY      6   8603.88  Fortnightly
98  CUS-1654129794        Mary      PAY/SALARY     13   7488.00       Weekly
99  CUS-1233833708     Michael      PAY/SALARY     12   7155.96    Quarterly

[100 rows x 6 columns]

In [34]:
#Calculate Average Income for each customer:
salary['avg_income']= salary['sum']/salary['count']
salary.head(3)

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76

In [35]:
#Calculate Annual Salary after tax 
def get_status(salary):
    if salary['payment_type'] == 'Weekly':
        return salary['avg_income']*52
    elif salary['payment_type'] == 'Fortnightly':
        return salary['avg_income']*26
    elif salary['payment_type'] == 'Monthly':
        return salary['avg_income']*12
    else:
        return salary['avg_income']*4

salary['salary_after_tax_p.a'] = salary.apply(get_status, axis = 1)
salary['salary_after_tax_p.a'] = np.around(salary['salary_after_tax_p.a']).astype('int64')
salary.head()

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01,134577
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76,132328
3,CUS-2155701614,Linda,PAY/SALARY,13,31762.12,Weekly,2443.24,127048
4,CUS-261674136,Kenneth,PAY/SALARY,7,30837.10,Fortnightly,4405.30,114538

In [36]:
# Calculate weekly average income to find out their weekly witholding tax
def get_status(salary):
    if salary['payment_type'] == 'Weekly':
        return salary['avg_income']
    elif salary['payment_type'] == 'Fortnightly':
        return salary['avg_income']/2
    elif salary['payment_type'] == 'Monthly':
        return salary['avg_income']*3/12
    else:
        return salary['avg_income']/13

salary['weekly_income'] = salary.apply(get_status, axis = 1)
salary.head()

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a,weekly_income
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344,679.690769
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01,134577,2588.010000
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76,132328,2544.760000
3,CUS-2155701614,Linda,PAY/SALARY,13,31762.12,Weekly,2443.24,127048,2443.240000
4,CUS-261674136,Kenneth,PAY/SALARY,7,30837.10,Fortnightly,4405.30,114538,2202.650000

In [37]:
#Round numbers in numpy
salary['weekly_income'] = np.around(salary['weekly_income'])
salary.head(1)

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a,weekly_income
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344,680.0

In [38]:
salary['weekly_income']=salary['weekly_income']+0.99
salary.head()

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a,weekly_income
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344,680.99
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01,134577,2588.99
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76,132328,2545.99
3,CUS-2155701614,Linda,PAY/SALARY,13,31762.12,Weekly,2443.24,127048,2443.99
4,CUS-261674136,Kenneth,PAY/SALARY,7,30837.10,Fortnightly,4405.30,114538,2203.99

In [39]:
# Calculate Weekly Tax Withholding Amount by applying 'Schedule 1' ATO formula
salary['weekly_tax_withholding'] = np.where(salary['weekly_income']<72, salary['weekly_income'] *0.19 - 0.19, 
        np.where(salary['weekly_income'] < 361, salary['weekly_income'] *0.2342 - 3.2130,
        np.where(salary['weekly_income'] < 932, salary['weekly_income']*0.3477- 44.2476,
        np.where(salary['weekly_income']< 1380, salary['weekly_income']*0.3450- 41.7311,
        np.where(salary['weekly_income'] < 3111, salary['weekly_income'] *0.3900- 103.8657,
                 salary['weekly_income'] *0.47 - 352.7888)))))
salary.head()

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a,weekly_income,weekly_tax_withholding
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344,680.99,192.532623
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01,134577,2588.99,905.840400
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76,132328,2545.99,889.070400
3,CUS-2155701614,Linda,PAY/SALARY,13,31762.12,Weekly,2443.24,127048,2443.99,849.290400
4,CUS-261674136,Kenneth,PAY/SALARY,7,30837.10,Fortnightly,4405.30,114538,2203.99,755.690400

In [40]:
#Calculate Full Annual Salary:
salary['annual_salary'] = np.where(salary['payment_type']== 'Weekly', (salary['weekly_income']+salary['weekly_tax_withholding'])*52, 
        np.where(salary['payment_type']== 'Fortnightly', (salary['avg_income']+(salary['weekly_tax_withholding']*2))* 26,
        np.where(salary['payment_type']== 'Monthly', (salary['avg_income']+(salary['weekly_tax_withholding']*13/3))* 12,
                 (salary['avg_income']+(salary['weekly_tax_withholding']))*4)))
salary['annual_salary'] = np.around(salary['annual_salary']).astype('int64')
salary

,customer_id,first_name,txn_description,count,sum,payment_type,avg_income,salary_after_tax_p.a,weekly_income,weekly_tax_withholding,annual_salary
0,CUS-1816693151,Tim,PAY/SALARY,4,35343.92,Quarterly,8835.98,35344,680.99,192.532623,36114
1,CUS-3142625864,Ricky,PAY/SALARY,13,33644.13,Weekly,2588.01,134577,2588.99,905.840400,181731
2,CUS-2738291516,Kenneth,PAY/SALARY,13,33081.88,Weekly,2544.76,132328,2545.99,889.070400,178623
3,CUS-2155701614,Linda,PAY/SALARY,13,31762.12,Weekly,2443.24,127048,2443.99,849.290400,171251
4,CUS-261674136,Kenneth,PAY/SALARY,7,30837.10,Fortnightly,4405.30,114538,2203.99,755.690400,153834
5,CUS-2031327464,Michael,PAY/SALARY,13,29644.68,Weekly,2280.36,118579,2280.99,785.720400,159469
6,CUS-527400765,Natasha,PAY/SALARY,7,29512.28,Fortnightly,4216.04,109617,2108.99,718.640400,146986
7,CUS-3336454548,Charles,PAY/SALARY,7,28925.61,Fortnightly,4132.23,107438,2066.99,702.260400,143956
8,CUS-883482547,Michelle,PAY/SALARY,7,27842.22,Fortnightly,3977.46,103414,1989.99,672.230400,138370
9,CUS-1462656821,Isaiah,PAY/SALARY,7,27327.65,Fortnightly,3903.95,101503,1952.99,657.800400,135708
10,CUS-1196156254,Jessica,PAY/SALARY,7,27326.11,Fortnightly,3903.73,101497,1952.99,657.800400,135703
11,CUS-134833760,Billy,PAY/SALARY,7,26500.46,Fortnightly,3785.78,98430,1893.99,634.790400,131439
12,CUS-2376382098,Christine,PAY/SALARY,5,25517.55,Quarterly,5103.51,20414,393.99,92.742723,20785
13,CUS-2505971401,Abigail,PAY/SALARY,13,25305.41,Weekly,1946.57,101222,1947.99,655.850400,135400
14,CUS-1117979751,Lucas,PAY/SALARY,7,25050.55,Fortnightly,3578.65,93045,1789.99,594.230400,123945
15,CUS-4142663097,Sandra,PAY/SALARY,7,24623.27,Fortnightly,3517.61,91458,1759.99,582.530400,121749
16,CUS-3249305314,Ryan,PAY/SALARY,13,24452.35,Weekly,1880.95,97809,1881.99,630.110400,130629
17,CUS-2663907001,Craig,PAY/SALARY,6,24328.62,Fortnightly,4054.77,105424,2027.99,687.050400,141151
18,CUS-1617121891,Daniel,PAY/SALARY,7,23301.39,Fortnightly,3328.77,86548,1664.99,545.480400,114913
19,CUS-2500783281,Marissa,PAY/SALARY,14,22770.72,Weekly,1626.48,84577,1626.99,530.660400,112198
20,CUS-2819545904,Brian,PAY/SALARY,7,22618.82,Fortnightly,3231.26,84013,1616.99,526.760400,111404
21,CUS-1147642491,Robin,PAY/SALARY,13,22248.07,Weekly,1711.39,88992,1711.99,563.810400,118342
22,CUS-3174332735,Cindy,PAY/SALARY,6,22061.64,Fortnightly,3676.94,95600,1838.99,613.340400,127494
23,CUS-1478398256,Alexander,PAY/SALARY,6,21897.06,Fortnightly,3649.51,94887,1825.99,608.270400,126517
24,CUS-1790886359,Matthew,PAY/SALARY,7,21497.98,Fortnightly,3071.14,79850,1536.99,495.560400,105619
25,CUS-55310383,Melissa,PAY/SALARY,13,21277.36,Weekly,1636.72,85109,1637.99,534.950400,112993
26,CUS-2059096722,Michael,PAY/SALARY,13,20282.60,Weekly,1560.20,81130,1560.99,504.920400,107427
27,CUS-3026014945,Tonya,PAY/SALARY,7,19881.05,Fortnightly,2840.15,73844,1420.99,450.320400,97261
28,CUS-164374203,Susan,PAY/SALARY,14,19536.86,Weekly,1395.49,72565,1395.99,440.570400,95501
29,CUS-3462882033,Michael,PAY/SALARY,6,19170.06,Fortnightly,3195.01,83070,1598.99,519.740400,110097
...,...,...,...,...,...,...,...,...,...,...,...
70,CUS-2110742437,Darren,PAY/SALARY,4,12107.80,Quarterly,3026.95,12108,233.99,51.587458,12314
71,CUS-51506836,Richard,PAY/SALARY,2,12048.98,Quarterly,6024.49,24098,463.99,117.081723,24566
72,CUS-2695611575,Joseph,PAY/SALARY,13,11926.85,Weekly,917.45,47707,917.99,274.937523,62032
73,CUS-586638664,Mackenzie,PAY/SALARY,6,11713.74,Fortnightly,1952.29,50760,976.99,295.330450,66117
74,CUS-1614226872,Rhonda,PAY/SALARY,13,11597.17,Weekly,892.09,46389,892.99,266.245023,60280
75,CUS-3431016847,Donald,PAY/SALARY,6,11573.82,Fortnightly,1928.97,50153,964.99,291.190450,65295
76,CUS-1140341822,Dustin,PAY/SALARY,6,11499.06,Fortnightly,1916.51,49829,958.99,289.120450,64864
77,CUS-2650223890,Maria,PAY/SALARY,13,11218.35,Weekly,862.95,44873,863.99,256.161723,58248
78,CUS-423725039,Linda,PAY/SALARY,3,11137.68,Monthly,3712.56,44551,928.99,278.762223,59046
79,CUS-331942311,Catherine,PAY/SALARY,6,11058.84,Fortnightly,1843.14,47922,922.99,276.676023,62309
80,CUS-2630892467,Karen,PAY/SALARY,12,11048.52,Quarterly,920.71,3683,71.99,13.488100,3737
81,CUS-3201519139,Richard,PAY/SALARY,12,11001.00,Quarterly,916.75,3667,71.99,13.488100,3721
82,CUS-860700529,Jeffrey,PAY/SALARY,6,10851.72,Fortnightly,1808.62,47024,904.99,270.417423,61086
83,CUS-3395687666,David,PAY/SALARY,6,10546.86,Fortnightly,1757.81,45703,879.99,261.724923,59313
84,CUS-3904958894,Gregory,PAY/SALARY,6,10089.48,Fortnightly,1681.58,43721,841.99,248.512323,56644
85,CUS-2977593493,Elizabeth,PAY/SALARY,7,10058.86,Fortnightly,1436.98,37361,718.99,205.745223,48060
86,CUS-1842679196,Debra,PAY/SALARY,13,9897.29,Weekly,761.33,39589,761.99,220.696323,51100
87,CUS-1433879684,Jeffrey,PAY/SALARY,7,9856.56,Fortnightly,1408.08,36610,704.99,200.877423,47056
88,CUS-2484453271,Timothy,PAY/SALARY,6,9844.98,Fortnightly,1640.83,42662,820.99,241.210623,55205
89,CUS-497688347,Jacqueline,PAY/SALARY,2,9821.80,Quarterly,4910.90,19644,378.99,87.527223,19994
90,CUS-2599279756,Amy,PAY/SALARY,6,9782.16,Fortnightly,1630.36,42389,815.99,239.472123,54842
91,CUS-1739931018,Kimberly,PAY/SALARY,2,9727.24,Quarterly,4863.62,19454,374.99,86.136423,19799
92,CUS-1646183815,Andrew,PAY/SALARY,12,9389.04,Quarterly,782.42,3130,60.99,11.398100,3175
93,CUS-2206365095,Renee,PAY/SALARY,6,9246.72,Fortnightly,1541.12,40069,771.99,224.173323,51726
94,CUS-3702001629,Lori,PAY/SALARY,6,9226.08,Fortnightly,1537.68,39980,769.99,223.477923,51601
95,CUS-72755508,Kimberly,PAY/SALARY,12,8703.84,Quarterly,725.32,2901,56.99,10.638100,2944
96,CUS-3255104878,Emily,PAY/SALARY,13,8637.59,Weekly,664.43,34550,664.99,186.969423,44302
97,CUS-880898248,Robert,PAY/SALARY,6,8603.88,Fortnightly,1433.98,37283,717.99,205.397523,47964
98,CUS-1654129794,Mary,PAY/SALARY,13,7488.00,Weekly,576.00,29952,576.99,156.371823,38135
99,CUS-1233833708,Michael,PAY/SALARY,12,7155.96,Quarterly,596.33,2385,46.99,8.738100,2420

In [41]:
#Top 10 person with highest paid:
salary = salary.sort_values(by=['date'])
salary.head(10)

KeyError: 'date'